body {
    background-color: #d09cf8;
    color: #23282d;  
    font-family: 'Rubik', "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";  
}

img {
    max-width: 100%;
}

textarea {
    resize: both;
    min-width: 23rem;
    min-height: 7rem;
}

.container {
    max-width: 1200px;
    width: 98%;
    margin: auto;
}

.container b {
    font-weight: 600;
}

.arcsipage a {
    color: #23282d;
}

.arcsipage a:hover {
    color: white;
}

header.siteheader {
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

header.siteheader .navigation-block {
    display: flex;
    flex-flow: row;
    padding: 0;
    justify-content: space-between;
    font-size: 1.2em;
}

header.siteheader h1 {
    margin: 0;
    font-family: inherit;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1em;
    background: url(img/lahmacun-logo.png) no-repeat left center;
    background-size: 70px;
    height: 82px;
    display: flex;
    align-items: center;
}

header.siteheader h1 a {
    padding-left: 80px;
}


header.siteheader a {
    color: #23282d;
}

header nav ul {
    list-style: none;
    padding-left: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 0.5em;
}

header .adminmenu {
    display: flex;
    align-items: center;
}

header .adminmenu a {
    margin: 0 0.5em;
}

header .has-submenu {
    position: relative;
}

header .has-submenu .hidden-sub {
    position: absolute;
    position: absolute;
    display: none;
    right: 0;
    white-space: nowrap;
    background: #d09cf8;
    border: 1px solid grey;
    font-size: 0.8em;
    padding: 1em;
}

header .has-submenu:hover .hidden-sub {
    display: block;
}

header .admin-menu {
    padding-left: 0.5em;
    border-left: 1px solid grey;
}

/* Content */

section.content {
    padding-bottom: 2rem;
}

section.content h2 {
    margin-bottom: 2rem;
}

section.content h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

section p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

section ul {
    padding-left: 1rem;
}

.admin-content > div {
    margin-bottom: 2rem;
}

.users-list, .shows-list, .episodes-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.user-card, .show-card, .episode-card {
    padding: 1em;
    border: 1px solid;
    border-radius: 3px;
    overflow: auto;
}

.add-airing > div p {
  font-weight: 250;
  min-width: 64%;
  max-width: 65%;
}

.add-airing > div input[type=date],
.add-airing > div select {
  margin: 0.7rem 0;
}

.add-media > div span {
  font-size: 1rem;
  margin-left: -3rem;
  cursor: pointer;
  border-style: double;
}
.add-media > div p {
  min-width: 64%;
  max-width: 65%;
}

.add-infos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.add-infos > div {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    align-items: center;
    text-align: justify;
    max-width: 33%;
}

.add-infos > div label {
    margin: 0 0.4rem 0 0;
    font-weight: 500;
    flex: 0 0 15rem;
}

.add-infos > div input[type=file] {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.add-infos > div input[type=button],
.add-infos > div input[type=reset],
.add-infos > div input[type=submit],
.add-infos > div button {
    background: #862eca;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 2rem;
    padding: 0.75rem 2.33rem;
}

#topbutt {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    opacity: .5;
}

#topbutt:hover {
    opacity: 1;
}