body {
    background-color: #d09cf8;
    color: #23282d;  
    font-family: 'Rubik', "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";  
}

.container {
    max-width: 1200px;
    width: 98%;
    margin: auto;
}

header.siteheader {
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

header.siteheader .navigation-block {
    display: flex;
    flex-flow: row;
    padding: 0;
    justify-content: space-between;
    font-size: 1.2em;
}

header.siteheader h1 {
    margin: 0;
    font-family: inherit;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1em;
    background: url(img/lahmacun-logo.png) no-repeat left center;
    background-size: 70px;
    height: 82px;
    display: flex;
    align-items: center;
}

header.siteheader h1 a {
    padding-left: 80px;
}


header.siteheader a {
    color: #23282d;
}

header nav ul {
    list-style: none;
    padding-left: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 0.5em;
}

header .adminmenu {
    display: flex;
    align-items: center;
}

header .adminmenu a {
    margin: 0 0.5em;
}

header .has-submenu {
    position: relative;
}

header .has-submenu .hidden-sub {
    position: absolute;
    position: absolute;
    display: none;
    right: 0;
    white-space: nowrap;
    background: white;
    font-size: 0.8em;
    padding: 1em;
}

header .has-submenu:hover .hidden-sub {
    display: block;
}

header .admin-menu {
    padding-left: 0.5em;
    border-left: 1px solid grey;
}