{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Add media to archive{% endblock %}</h2>
{% endblock %}

{% block content %}
<form action="{{ url_for('arcsi.media.insert') }}" method="post" enctype="multipart/form-data">

<article class="add-infos">
  <div>
    <label for="name">Name *</label>
    <input name="name" id="name" required>
  </div>

  <div>
    <label for="play_file">Audio file *</label>
    <input type="file" accept= ".mp3" name="play_file" id="play_file">
  </div>

  <div>
    <label for="image_file">Episode cover image *</label>
    <input type="file" accept= "image/*" name="image_file" id="image_file">
  </div>

  <div>
    <label for="external_storage">Upload to external storage</label>
    <input type="hidden" id="external_storage" name="external_storage" value="1"><input type="checkbox"
      onclick="this.previousElementSibling.value=this.checked?1:0" checked>

    <input type="hidden" name="uploader" id="uploader" value="{{ current_user.name }}">
  </div>

  <div>
    <p>For <b>Broadcasted</b> episodes use <b>audio</b> up to <b class="TODO whats our actual limit?">100 Mb?</b></p>
    <p>For <b>Broadcasted</b> episodes use <b>images</b> up to <b>2 Mb</b></p>
    <p>For <b>Live</b> episodes use an <b>image</b> between <b>200-500 kB</b></p>
    <p>Upload the <b>audio</b> in <b>.mp3</b> format</p>
    <p>Upload the <b>image</b> in one of the following formats - <b>.gif .jpg. jpeg .png</b></p>
  </div>
  <div>
    <input type="submit" value="Add">
  </div>

</article>
</form>

{% endblock %}
