<!doctype html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i&amp;subset=latin-ext" rel="stylesheet">


  <link rel="stylesheet" href="/static/generalstyles.css">
  
</head>

<body class="arcsipage">
  <div class="container-fluid">

    <header class="siteheader" id="topheader">
      <h1>
        <a href="{{ url_for('router.archive') }}">ARCSI</a>
      </h1>
      <div class="navigation-block">
        <nav>
          <ul>
            <li><a href="{{ url_for('router.add_show') }}">Add new show</a></li>
            <li><a href="{{ url_for('router.list_shows') }}">Shows archive</a></li>
            <li><a href="{{ url_for('router.add_item') }}">Add new item</a></li>
            <li><a href="{{ url_for('router.list_items') }}">Items archive</a></li>
          </ul>
        </nav> 
        <div>
          
          <div class="adminmenu">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('router.api_key') }}">API key</a>
            <a href="{{ url_for('router.view_user') }}" title="Profile"><i class="far fa-user-circle"></i></a>
            <a href="{{ url_for('security.logout') }}" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
            {% else %}
            <a href="{{ url_for('security.login') }}" title="Login"><i class="fas fa-sign-in-alt"></i></a>
            <a href="{{ url_for('security.register') }}" title="Register"><i class="fas fa-user-plus"></i></a>
            {% endif %}

            {% if current_user.has_role("admin") %}
            <div class="has-submenu admin-menu" title="ADMIN INTERFACE">
              <i class="fas fa-users-cog"></i>
              <div class="hidden-sub">
                <a href="{{ url_for('router.list_users') }}">All users</a>
              </div>
            </div>
            {% endif %}
          </div>
          
          
        </div>
      </div>     
    </header>

  <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}
  </section>

  </div>
  <footer>
    <a href="#topheader" id="topbutt" class="d-none">
      <i class="far fa-arrow-alt-circle-up"></i>
    </a>
  </footer>
</body>

<script>
  const totopbutton = document.querySelector('#topbutt');
  totopbutton.addEventListener('click', (event) => { 
    event.preventDefault()
    window.scroll({top: 0, behavior: "smooth"}) 
    totopbutton.classList.add('d-none')
  });
  const showTotop = () => {
    if (window.scrollY > 150) {
      totopbutton.classList.remove('d-none')
    } else {
      totopbutton.classList.add('d-none')
    }
  }
  document.addEventListener('wheel', () => {
    showTotop()
  }, {
    capture: true,
    passive: true
  })
</script>

</html>