<!doctype html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">

    <header class="siteheader">
      <h1><a href="{{ url_for('router.archive') }}">A R C S I</a></h1><br>
      <nav>
        <ul>
          <li><a href="{{ url_for('router.add_show') }}">Add new show</a></li>
          <li><a href="{{ url_for('router.list_shows') }}">Shows archive</a></li>
          <li><a href="{{ url_for('router.add_item') }}">Add new item</a></li>
          <li><a href="{{ url_for('router.list_items') }}">Items archive</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('router.view_user') }}">Profile</a></li>
          <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
          {% else %}
          <li><a href="{{ url_for('security.login') }}">Login</a></li>
          <li><a href="{{ url_for('security.register') }}">Register</a></li>
          {% endif %}
          {% if current_user.has_role("admin") %}
          <h4>ADMIN INTERFACE</h4>
          <li><a href="{{ url_for('router.list_users') }}">All users</a></li>
          {% endif %}
        </ul>
      </nav>      
    </header>

  <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}
  </section>

  </div>
</body>

</html>