.DS_Store
.env
*.env
config.py
.flaskenv
*.pyc
*.pyo
*.log
**/venv
env/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
*prod.py
*dev.py
*local.py
*override.yml
pg-data
nginx/arcsi.conf