alembic==1.17.2
argon2_cffi==25.1.0
blinker==1.9.0
boto3==1.42.21
botocore==1.42.21
click==8.3.1
Flask==3.1.2
Flask-CKEditor==1.0.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-Security==5.7.1
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==5.21.0
gunicorn==23.0.0
marshmallow==4.1.2
mutagen==1.47.0
psycopg2==2.9.11
python-slugify==8.0.4
pytz==2025.2
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.45
Werkzeug==3.1.4
WTForms==3.2.1
