{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Edit my user{% endblock %}</h2>
{% endblock %}

{% block content %}
<form action="{{ url_for('arcsi.view_user', id=user.id) }}" method="post" enctype="multipart/form-data">
  <label for="name">Username</label>
  <input name="name" id="name" value="{{ user.name }}">
  <p>TODO Use security templates/validation</p>
  <label for="email">User email</label>
  <input name="email" id="email" value="{{ user.email }}">
  <label for="password">User password</label>
  <input name="password" id="password">
  <label for="butt_user">User butt username</label>
  <input name="butt_user" id="butt_user" value="{{ user.butt_user }}">
  <label for="butt_pw">User butt password</label>
  <input name="butt_pw" id="butt_pw" value="{{ user.butt_pw }}">
  <label for="active">User active</label>
  <input type="checkbox" name="active" id="active" {% if user.active%} checked {% endif %}>
  <label for="shows">User's shows:</label>
  <select name="shows" id="shows">
    {% for show in user.shows %}
    <option value="{{ show.id }}">{{show.name}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Update">
</form>
{% endblock %}