{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}{{item.name}}{% endblock %}</h2>
{% endblock %}

{% block content %}
<p>Episode parent show: {% for show in item["shows"] %} {{ show["name"] }} {% endfor %}</p>
<p>Episode number: {{item["number"]}}</p>
<p>Episode name: {{item["name"]}}</p>
<img src="{{item['image_url']}}">
<p>Episode description: {{item["description"]}}</p>
<p>Episode language: {{item.language}}</p>
<p>Episode play date: {{item["play_date"]}}</p>
<p>Episode play file name: {{item["play_file_name"]}}</p>
<p>Episode play length: {{item["length"]}}</p>
<p>Episode live?: {{item["live"]}} </p>
<p>Episode broadcasted?: {{item["broadcast"]}}</p>
<p>Episode (currently) airing?: {{item.airing}}</p>
<p>Episode archive lahmastore: {{item["archive_lahmastore"]}}</p>
<p>Episode archive lahmastore URL : <a href="{{ url_for('arcsi.download_play_file', id=item['id']) }}">Download</a> ||
    <video controls="" name="media">
        <source src="{{item['file_url']}}" type="audio/mpeg">
    </video>
    
</p>
<p>Episode archive mixcloud: {{item["archive_mixcloud"]}}</p>
<p>Episode archive mixcloud URL: {{item["archive_mixcloud_canonical_url"]}}</p>
<p>Episode archived?: {{item["archived"]}}</p>
<p>Episode D/L count: {{item["download_count"]}}</p>
<p>Episode uploader: {{item["uploader"]}}</p>
<p>Episode uploaded at: {{item["uploaded_at"]}}</p>
<p><a href="{{ url_for('router.edit_item', id=item['id']) }}">Edit Episode</a> || <a
        href="{{ url_for('arcsi.delete_item', id=item['id']) }}">Delete Episode</a></p>
{% endblock %}