{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Tag list for all shows and episodes{% endblock %}</h2>
{% endblock %}

{% block content %}
<h3>Tags</h3>
<div class="tag-list">
    {% for tag in tags %}
    <div class="tag-card">
        <p>Tag name: 
            <b>{{tag.display_name}}</b>
        </p>
        <p>Shows with this tag:</p>
        <ul>
          {% for show in tag["shows"] %}
          <li>
            - {{show.id}}
            - {{show.name}}
          </li>
          {% endfor %}
        </ul>
        <p>Episodes with this tag:</p>
        <ul>
          {% for item in tag["items"] %}
          <li>
            - {{item.id}}
            - {{item.name}}
          </li>
          {% endfor %}
        </ul>
    </div>
    {% endfor %}    
</div>  

{% endblock %}
