{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Uploaded episodes during last x days{% endblock %}</h2>
{% endblock %}

{% block content %}
<form action="{{ url_for('arcsi.uploaded_episodes_in_last_x_days') }}" method="post" enctype="multipart/form-data">
    <label for="from_date">From date</label>
    <input type="date" name="from_date" id="from_date">

    <label for="last_days">how many days?</label>
    <input name="last_days" id="last_days" value="{{ last_days }}">
    <input type="submit" value="Query">
</form>
{% endblock %}