{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Uploaded episodes during last x days{% endblock %}</h2>
{% endblock %}

{% block content %}
<form action="{{ url_for('arcsi.uploaded_episodes_in_last_x_days') }}" method="post" enctype="multipart/form-data">
    <label for="end_date">End date</label>
    <input type="date" name="end_date" id="end_date">

    <label for="days">how many days?</label>
    <input name="days" id="days" value="{{ days }}">
    <input type="submit" value="Query">
</form>
{% endblock %}