{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Add radio show to archive{% endblock %}</h2>
{% endblock %}

{% block content %}
<form action="{{ url_for('arcsi.add_show') }}" method="post" enctype="multipart/form-data">
<article class="add-infos">

  <div>
    <label for="users">Host:</label>
    <input type="hidden" name="user_name" id="user_name" value="{{ current_user.name }}">
    <input type="hidden" name="user_email" id="user_email" value="{{ current_user.email }}">
    <select name="users" id="users">
      <option value="{{current_user.id}}"> {% if current_user.name %} {{ current_user.name }} {% else %}
        {{ current_user.email }} {% endif %}</option>
    </select>
  </div>

  <div>
    <label for="active">Active</label>
    <input type="hidden" id="active" name="active" value="1">
    <input type="checkbox"
      onclick="this.previousElementSibling.value=this.checked?1:0" checked>
  </div>

  <div>
    <label for="name">Show name</label>
    <input name="name" id="name" required>
  </div>

  <div>
    <label for="description">Show description</label>
    <input name="description" id="description" required>
  </div>

  <div>
    <label for="contact_address">Contact address</label>
    <input name="contact_address" id="contact_address">
  </div>

  <div>
    <label for="social_base_url">External link</label>
    <input name="social_base_url" id="social_base_url">
  </div>

  <div>
      <label for="language">Show language</label>
      <select name="language" id="language">
        <option id="music" value="music">Music</option>
        <option id="hu_hu" value="hu_hu" selected>Magyar</option>
        <option id="en_uk" value="en_uk">English</option>
      </select>
  </div>

  <div>
    <label for="taglist">Show tag list (separate with commas)</label>
    <input name="taglist" id="taglist">
  </div>

  <div>
    <label for="playlist_name">Playlist name</label>
    <input name="playlist_name" id="playlist_name">
  </div>

  <div>
    <label for="image_file">Cover image</label>
    <input type="file" name="image_file" id="image_file">
  </div>

  <div>
    <label for="frequency">Frequency (new-show-per-month)</label>
    <input type="number" name="frequency" id="frequency">
  </div>

  <div>    
    <label for="week">Week</label>
    <input type="number" name="week" id="week">
    <label for="day">Day</label>
    <input type="number" name="day" id="day">
  </div>

  <div>
    <label for="start">Start</label>
    <input type="time" name="start" id="start" value="00:00">
    <label for="end">End</label>
    <input type="time" name="end" id="end" value="00:00">
  </div>

  <div>
    <label for="archive_lahmastore">Archive to Lahmastore</label>
    <input type="hidden" id="archive_lahmastore" name="archive_lahmastore" value="1">
    <input type="checkbox"
      onclick="this.previousElementSibling.value=this.checked?1:0" checked>
  </div>

  <div>
    <input type="submit" value="Add">
  </div>

</article>
</form>
{% endblock %}
