{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}{{show.name}}{% endblock %}</h2>
{% endblock %}

{% block content %}
<p>Show host: {% for user in show.users %} {% if user.name %} {{ user.name }} {% else %} {{ user.email }}
    {% endif %} {% endfor %}</p>
<p>Show active: {{show.active}}</p>
<p>Show name: {{show.name}}</p>
<p>Show description: {{show.description}}</p>
<p>Show external link: {{show.social_base_url}}</p>
<p>Show contact address: {{show.contact_address}}</p>
<p>Show language: {{show.language}}</p>
{% if show.cover_image_url %}
<img src="{{show.cover_image_url}}">
{% endif %}
<p>Show social base URL: {{show.social_base_url}}</p>
<p>Show playlist name: {{show.playlist_name}}</p>
<p>Show frequency: {{show.frequency}}</p>
<p>Show week: {{show.week}}</p>
<p>Show day: {{show.day}}</p>
<p>Show start: {{show.start}}</p>
<p>Show end: {{show.end}}</p>
<p>Show archive lahmastore base URL: {{show.archive_lahmastore_base_url}}</p>
<p>Show items:</p>
    <ul>
    {% for item in show["items"] %}
    <li>
    --name: <a href="{{ url_for('router.view_item', id=item.id) }}">
        <b>{{item.name}}</b></a>
    --number: {{item.number}} 
    --play_date: {{item.play_date}} 
    --description: {{item.description}} 
    --archived:
    {% if item.archived %}archived {% else %}not_archived {% endif %} --permalink: <a
        href="{{ url_for('router.view_item', id=item.id) }}">{{item.id}}</a>
    </li>    
    {% endfor %}
    </ul> 
<p>Show tags:</p>
<ul>
    {% for tag in show["tags"] %}
    <li>
        <b>
            {{tag.display_name}}
        </b>
    </li>
    {% endfor %}
</ul>
 <hr> 
<p><a href="{{ url_for('router.edit_show', id=show['id']) }}">Edit show</a> || <a
        href="{{ url_for('arcsi.delete_show', id=show['id']) }}">Delete show</a>
    
{% endblock %}
