{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Add episode to archive{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('arcsi.add_item') }}" method="post" enctype="multipart/form-data">
  <label for="showname">Show name</label>
  <input name="showname" id="showname" required>
  <label for="showcover">Show cover</label>
  <input name="showcover" id="showcover" required>
  <label for="epnumber">Episode number</label>
  <input name="epnumber" id="epnumber">
  <label for="eptitle">Episode title</label>
  <input name="eptitle" id="eptitle" required>
  <label for="item">Item file</label>
  <input type="file" name="item" id="item">
  <label for="epcover">Episode cover</label>
  <input name="epcover" id="epcover">
  <label for="epdate">Episode date</label>
  <input name="epdate" id="epdate" required>

  <input type="submit" value="Add">
</form>
{% endblock %}